################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitHub-Intermediary-Api/v17/DocumentLayout.json
